<nz-layout class="shell">
  <nz-sider nzWidth="220" nzTheme="dark">
    <div class="brand"><span nz-icon nzType="dashboard"></span> 研发效能助手</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/weekly-report" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="file-text"></span><span>工时周报</span>
      </li>
      <li nz-menu-item routerLink="/system-config-params" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="database"></span><span>配置洞察</span>
      </li>
      <li nz-menu-item routerLink="/settings" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="setting"></span><span>系统配置</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="header">
      <span>个人研发效能助手</span>
      <div>
        <span nz-icon nzType="user"></span> {{ auth.user()?.username || '管理员' }}
        <button nz-button nzType="link" (click)="logout()">退出</button>
      </div>
    </nz-header>
    <nz-content class="content"><router-outlet /></nz-content>
  </nz-layout>
</nz-layout>
